@model Contact

@{
    ViewData["Title"] = @Localizer["DeleteContact"];
}

<div class="Container p-3">
    <h1 class="mt-4">
        @Localizer["DeleteContact"]
        &nbsp; <i class="bi bi-trash"></i>
    </h1>
    <hr />

    <div class="mt-5">
        <div class="row">
            <div class="col-md-6">
                <dl class="row dl-spacing">
                    <dt class="col-sm-4">@Localizer["Name"]</dt>
                    <dd class="col-sm-8">@Model.Name</dd>

                    <dt class="col-sm-4">@Localizer["PhoneNumber"]</dt>
                    <dd class="col-sm-8">@Model.PhoneNumber</dd>

                    <dt class="col-sm-4">@Localizer["BirthDate"]</dt>
                    <dd class="col-sm-8">@Model.BirthDate?.ToString("yyyy/MM/dd")</dd>
                </dl>
            </div>
            <div class="col-md-6">
                @if (Model.Image != null && Model.Image.Data.Length > 0)
                {
                    <img src="data:image/jpeg;base64,@Convert.ToBase64String(Model.Image.Data)" class="img-thumbnail" alt="@Model.Name" style="max-width: 200px;" />
                }
            </div>
        </div>
    </div>

    <div class="mt-4">
        <button id="deleteButton" class="btn btn-danger" style="padding-left:3rem; padding-right:3rem; text-align:unset; width:10rem;">
            @Localizer["Delete"]
            &nbsp; <i class="bi bi-trash"></i>
        </button>
    </div>

    <div class="mt-4">
        <a class="btn btn-success no-underline" style="width:10rem;" asp-action="Index">
            @Localizer["BackToList"]
            &nbsp; <i class="bi bi-arrow-left"></i>
        </a>
    </div>

    <form asp-action="Delete" id="deleteForm" method="post">
        <input type="hidden" asp-for="Id" />
        @Html.AntiForgeryToken()
    </form>

</div>


@section Scripts {
    <script>
        $(document).ready(function () {
            $("#deleteButton").on("click", function () {
                Swal.fire({
                    title: 'آیا مطمئن هستید؟',
                    text: "این عمل قابل بازگشت نیست!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#d33',
                    cancelButtonColor: '#3085d6',
                    confirmButtonText: 'بله، حذف کن',
                    cancelButtonText: 'لغو'
                }).then((result) => {
                    if (result.isConfirmed) {
                        $("#deleteForm").submit();
                    }
                });
            });
        });
    </script>
}