@model List<GalleryViewModel>

@{
    ViewData["Title"] = @Localizer["ContactsImageGallery"];
}

<div class="Container p-3">
    <h1 class="mt-4">
        @Localizer["ContactsImageGallery"]
        &nbsp; <i class="bi bi-images"></i>
    </h1>
    <hr />

    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    @if (item.ImageData != null && item.ImageData.Length > 0)
                    {
                        <a asp-action="Details" asp-route-id="@item.ContactId">
                            <img src="data:image/jpeg;base64,@Convert.ToBase64String(item.ImageData)" class="card-img-top gallery-image" alt="Default Image" />
                        </a>
                    }            
                    <div class="card-body">
                        <a asp-action="Details" asp-route-id="@item.ContactId" class="btn btn-primary">
                            @Localizer["ViewDetails"]
                            &nbsp; <i class="bi bi-info-circle"></i>
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>