@model SearchContactViewModel

@{
    ViewData["Title"] = @Localizer["ContactList"];
}

<partial name="_Notification" />

<div class="Container p-3">

    <h1 class="mt-4">
        @Localizer["ContactList"]
        &nbsp; <i class="bi bi-person-lines-fill"></i>
    </h1>
    <hr />

    @if (ViewData.ModelState.ErrorCount > 0)
    {
        <div id="error-alert" class="alert alert-danger d-flex align-items-center p-3 rounded shadow-lg animate-fade-in">
            <i class="bi bi-exclamation-triangle-fill me-2"></i>
            <ul class="mb-0">
                @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                {
                    <li>@error.ErrorMessage</li>
                }
            </ul>
            <button type="button" class="btn-close ms-3 close-error-btn"></button>
        </div>
    }

    <div class="row mt-5">
        <form method="get" class="d-flex align-items-center gap-3">
            <div class="form-group">
                <input asp-for="SearchName" class="form-control" placeholder="@Localizer["Name"]" />
            </div>
            <div class="form-group">
                <input asp-for="SearchPhone" class="form-control" placeholder="@Localizer["PhoneNumber"]" />
            </div>
            <div class="form-group">
                <input asp-for="StartDate" id="startDate" class="form-control" placeholder="@Localizer["FromDate"]" />
            </div>
            <div class="form-group">
                <input asp-for="EndDate" id="endDate" class="form-control" placeholder="@Localizer["ToDate"]" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">
                    @Localizer["Search"]
                    &nbsp; <i class="bi bi-search"></i>
                </button>
            </div>
            <div class="form-group">
                <a class="btn btn-success no-underline" asp-controller="Contacts" asp-action="Index">
                    @Localizer["Reset"]
                    &nbsp; <i class="bi bi-arrow-clockwise"></i>
                </a>
            </div>
        </form>
    </div>

    <table class="table table-striped mt-5">
        <thead>
            <tr class="table-info">
                <th>@Localizer["Name"]</th>
                <th>@Localizer["PhoneNumber"]</th>
                <th>@Localizer["BirthDate"]</th>
                <th>@Localizer["Image"]</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Contacts != null)
            {
                @foreach (var item in Model.Contacts)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.PhoneNumber</td>
                        <td>@item.BirthDate?.ToString("yyyy/MM/dd")</td>
                        <td>
                            @if (item.Image != null)
                            {
                                <img src="data:image/jpeg;base64,@Convert.ToBase64String(item.Image.Data)" class="img-thumbnail" width="75" />
                            }
                        </td>
                        <td class="text-end">
                            <a asp-action="Create" asp-route-id="@item.Id" class="btn btn-sm btn-warning">
                                @Localizer["Edit"]
                            </a>
                            @if (item.ChangesHistory?.Count > 0)
                            {
                                <a asp-action="ChangesHistory" asp-route-id="@item.Id" class="btn btn-sm btn-info">
                                    @Localizer["ChangesHistory"]
                                </a>
                            }
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">
                                @Localizer["Delete"]
                            </a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function() {
            $("#startDate").pDatepicker({
                initialValue: false,
                format: "YYYY/MM/DD",
                autoClose: true,
            });
            $("#endDate").pDatepicker({
                initialValue: false,
                format: "YYYY/MM/DD",
                autoClose: true,
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            let errorAlert = $("#error-alert");
            if (errorAlert.length) {
                setTimeout(function () {
                    errorAlert.fadeOut(300, function () {
                        $(this).remove();
                    });
                }, 10000);
            }
            $(".close-error-btn").on("click", function () {
                errorAlert.fadeOut(300, function () {
                    $(this).remove();
                });
            });
        });
    </script>
}